<h1><%= @blogger.name %>'s Page</h1>

<ul>
    <% @blogger.posts.each do |post| %>
        <li><%= post.title %> | <%= post.likes %> like(s)</li>
    <% end %>
</ul>

<% if @blogger.featured %>
    <h3>Featured Post:</h3>
    <p><%= link_to "Feature", post_path(@blogger.featured) %></p>
<% end %>